<!DOCTYPE html>
<html>
  <head>
    <title>Profile</title>
  </head>
  <body>
    <%- include('partials/_nav') %>
    <h1>Profile Info</h1>
    <link rel="stylesheet" href="/styles/profile.css" />
    <a href="/profiles/edit/<%= userData.id %>">
      <button>Edit Profile</button>
    </a>

    <p>Username: <%= userData.name %></p>
    <p>Email: <%= userData.email %></p>
    <p>Address: <%= userData.Profile.address %></p>
    <p>Phone: <%= userData.Profile.phone %></p>
    <h2>Borrowed Books</h2>
    <% if (userData.Loans && userData.Loans.length > 0) { %>
    <table border="1" cellpadding="8" cellspacing="0">
      <thead>
        <tr>
          <th>Title</th>
          <th>Borrow Date</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% userData.Loans.forEach(loan => { %>
        <tr>
          <td><%= loan.Book.title %></td>
          <td><%= loan.borrowFormat %></td>
          <td>
            <% if (!loan.returnDate) { %>
            <span style="color: red">Not Returned Yet</span>
            <% } else { %>
            <span style="color: green"><%= loan.returnFormat %></span>
            <% } %>
          </td>
        </tr>
        <% }) %>
      </tbody>
    </table>
    <% } else { %>
    <p>No borrowed books at the moment.</p>
    <% } %>
  </body>
</html>
